/* CSS files add styling rules to your content */


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  text-align: center;
}

h2 { 
  font-weight: bold;
  text-align:center; 
  letter-spacing: 6px;
}

 img {
  max-width: 50%;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
} 

p {
  text-align:center;
}

 .jumbotron {
  background-color: white;
  color: black;
  letter-spacing: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
} 

 .navbar {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 5;
  list-style: none;
font-family: 'Arial Medium', sans-serif;
text-transform: uppercase;
background-color: rgb(170, 166, 166) !important;
color: black;
} 

body {
  color:black;
  width: 100%;
  font-family:'Arial Narrow', Arial, sans-serif;
}

footer {
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-right: 0%;

}
